<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome
    <h3>{{ title }}!</h3>
  </h1>
</div>
<div>
  <h4>Products:</h4>
  <div class="productList">
    <ul>
      <li *ngFor="let box of boxes" class="itemClass" (click)="selectedItem(box)">{{box}}</li>
    </ul>
  </div>
  <h4>Cart:</h4>
  <div class="productList" *ngFor="let item of cart">
     <span *ngFor="let box of boxes">
      <ul>
        <li *ngIf="item[box] !== undefined">
          {{box}} - {{item[box]}}
        </li>
      </ul>
     </span>
  </div>
  <div>
    <h4>Add new items:</h4>
      <div class="productList">
        <input #addNew (keyup.enter)="addNewItem(addNew.value)" (blur)="addNewItem(addNew.value); addNew.value='' "/>
        <button (click)="addNewItem(addNew.value)">Add</button>
      </div>
  </div>
</div>
<router-outlet></router-outlet>
